/* ------------------------------------ Configurações gerais */
#header-block
{
  height: auto;
  margin-top: 100px;
  grid-area:header;
}

#navigation-block
{
  line-height: 4em;
  grid-area:nav;
}

#about-box
{
  grid-area:about;
}

#objective-box
{
  grid-area:objective;
}

#skills-box
{
  grid-area:skills;
}

#projects-box
{
  grid-area:projects;
}

#contact-box
{
  grid-area:contact;
}

#credits-box
{
  grid-area:credits;
}

#photo
{
  width: 50%;
  height: 60%;
  border-radius: 50%;
  top:-50px;
  margin: 0 auto;
}

figure
{
    margin-top: 4em;
    padding: 4em 0;
}

figcaption p
{
  text-align: center;
  padding-top: 1em;
}

.spaced-list
{
  line-height: 1.8em;
}

.content-box
{
  width: 90%;
  height: auto;
  margin: 2em 2em;
  padding: 1em;
  text-align: center;
  border-radius: 2em;
}

/* ------------------------------------- Tela Grande */
@media only screen and (min-width: 700px)
{
  #conteiner {
    padding: 2em;
    width: auto;
    max-width: 1330px;
    height: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto auto auto auto;
    grid-gap:10px 0px;
    grid-template-areas:
    " header header header header header "
    " nav nav nav nav nav "
    " about about about about about "
    " skills skills objective objective objective "
    " projects projects projects contact contact "
    " credits credits credits credits credits ";
  }

  #upToNavLink
  {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 50;
  }

  img
  {
    width: 200px;
    height: 200px;
  }

  #header__title
  {
    font-size: 4em;
  }

  #header__subtitle
  {
    font-size: 2em;
  }

  .title
  {
    font-size: 2em;
  }

  .subtitle
  {
    font-size: 1.5em;
  }

  .simple-text
  {
    font-size: 1em;
  }
}

/* ------------------------------------------- Tela média */
@media only screen and (max-width:700px)
{
  #conteiner {
    padding: 1em;
    width: auto;
    max-width: 700px;
    height: auto;
    display: grid;
    grid-template-columns: 20% 20% 60% ;
    grid-template-rows: auto auto auto auto auto;
    grid-gap:10px 5px;
    grid-template-areas:
    " header header header "
    " nav nav nav "
    " about about about "
    " skills skills objective "
    " projects projects contact "
    " credits credits credits ";
  }

  #upToNavLink
  {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 50;
  }

  img
  {
    width: 100px;
    height: 100px;
  }

  #header__title
  {
    font-size: 2.5em;
  }

  #header__subtitle
  {
    font-size: 1.5em;
  }

  .title
  {
    font-size: 1.5em;
  }

  .subtitle
  {
    font-size: 1em;
  }

  .simple-text
  {
    font-size: 1em;
  }
}

/* ------------------------------------ Tela pequena */
@media only screen and (max-width:480px)
{
  #conteiner {
    padding: 1em;
    width: auto;
    max-width: 480px;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-gap:10px 1px;
    grid-template-areas:
    " header "
    " nav "
    " about "
    " objective "
    " skills "
    " projects "
    " contact "
    " credits ";
  }

  #upToNavLink
  {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 50;
  }

  img
  {
    width: 50px;
    height: 50px;
  }

  #header__title
  {
    font-size: 1.5em;
  }

  #header__subtitle
  {
    font-size: 1em;
  }

  .title
  {
    font-size: 1em;
  }

  .subtitle
  {
    font-size: 0.8em;
  }

  .simple-text
  {
    font-size: 0.5em;
  }
}
